/*	This simple declaration exists only to show you
		that you can style any element however you want
		without chaning the HTML tag structure. */

div#styling > h1 {
display: block;
font-size: 1.17em;
font-weight: bold;
}
/*	When we learn about CSS later on we'll use a
		reset file that will eliminate the default browser
		styles and let you style the whole site as you wish. */